<body>
  <h1>Categories</h1>
  <ul>
    <% categories.forEach(function(cat) { %>
      <a href="/categories?cat=<%= cat %>">
        <li>
          <%= cat %>
        </li>
      </a>
      <% }) %>
  </ul>
</body>