<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

</head>

<body>

    <h2>Buscar chiste a partir de un texto</h2>

    <form method="get" action="/search-by-text">
        <label for="q">Search by text</label>
        <input type="text" id="q" name="q" required maxlength="50" pattern="[a-zA-Z0-9]+">
        <input type="submit" value="Buscar">
    </form>

</body>

</html>